@media only screen and (min-width: 750.5px) {
    #current-content {
        display: flex;
    }

    #video-container {
        padding: 0 10px;
    }

    #current-video {
        height: calc(100vw * 0.55 / 1.5) !important;
        width: calc(100vw * 0.55) !important;
    }

    #obsession:hover {
        background-color: grey;
    }

    #socialContainer:hover {
        background-color: grey;
    }
}
